
.icon-wordpress:before { content: '\e800'; } /* '' */
.icon-comment-alt:before { content: '\e801'; } /* '' */
.icon-html5:before { content: '\e802'; } /* '' */
.icon-tools:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e807'; } /* '' */
.icon-wrench:before { content: '\e808'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-html5-1:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-wordpress-1:before { content: '\f31d'; } /* '' */