*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.header__container {
  padding-top: 80px;
}

.header__container .header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.header__container .header__menu.header__menu-open {
  height: 90px;
  border-width: 90px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
}

.header__container .header__menu.header__menu-open .menu__trigger span {
  background-color: #fff;
}

.header__container .header__menu.header__menu-open ul {
  height: 90px;
  -webkit-transition: none;
  transition: none;
}

.header__container .header__menu.header__menu-open ul li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header__container .header__menu.header__menu-open ul li:first-child, .header__container .header__menu.header__menu-open ul li:last-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.header__container .header__menu.header__menu-open ul li:nth-child(2), .header__container .header__menu.header__menu-open ul li:nth-last-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.header__container .header__menu.header__menu-open ul li:nth-child(3), .header__container .header__menu.header__menu-open ul li:nth-last-child(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.header__container .header__menu.header__menu-open ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media all and (min-width: 740px) {
  .header__container .header__menu.header__menu-open ul li a {
    flex-direction: row;
    justify-content: space-around;
  }
}

.header__container .header__menu.header__menu-open ul li a i {
  display: block;
  line-height: 1rem;
  font-size: 2rem;
}

.header__container .header__menu .menu__trigger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  top: 15px;
  z-index: 10;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header__container .header__menu .menu__trigger span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.header__container .header__menu .menu__trigger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.header__container .header__menu .menu__trigger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.header__container .header__menu .menu__trigger span:nth-child(1), .header__container .header__menu .menu__trigger span:nth-child(2) {
  top: 0px;
}

.header__container .header__menu .menu__trigger span:nth-child(3), .header__container .header__menu .menu__trigger span:nth-child(4) {
  top: 18px;
}

.header__container .header__menu .menu__trigger span:nth-child(5), .header__container .header__menu .menu__trigger span:nth-child(6) {
  top: 36px;
}

.header__container .header__menu .menu__trigger.open {
  top: -68px;
}

.header__container .header__menu .menu__trigger.open span:nth-child(1), .header__container .header__menu .menu__trigger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header__container .header__menu .menu__trigger.open span:nth-child(2), .header__container .header__menu .menu__trigger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__container .header__menu .menu__trigger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.header__container .header__menu .menu__trigger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.header__container .header__menu .menu__trigger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.header__container .header__menu .menu__trigger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.header__container .header__menu .menu__trigger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.header__container .header__menu .menu__trigger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.header__container .header__menu ul {
  position: fixed;
  top: 0px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  height: 0;
  -webkit-transition: height 0s 0.3s;
  transition: height 0s 0.3s;
}

.header__container .header__menu ul li {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 90px;
  line-height: 90px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.header__container .header__menu ul li:first-child {
  width: 20%;
}

@media all and (min-width: 740px) {
  .header__container .header__menu ul li:first-child {
    width: 25%;
  }
}

.header__container .header__menu ul li:nth-child(2) {
  margin-right: 20px;
  padding-right: 3%;
  width: 20%;
}

@media all and (min-width: 740px) {
  .header__container .header__menu ul li:nth-child(2) {
    width: 25%;
    margin: 0;
  }
}

.header__container .header__menu ul li:nth-child(3) {
  padding-left: 3%;
  margin-left: 20px;
  width: 20%;
}

@media all and (min-width: 740px) {
  .header__container .header__menu ul li:nth-child(3) {
    width: 25%;
    margin: 0;
  }
}

.header__container .header__menu ul li:last-child {
  width: 20%;
}

@media all and (min-width: 740px) {
  .header__container .header__menu ul li:last-child {
    width: 25%;
  }
}

.header__container .header__menu ul li a {
  display: block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__container .header__menu ul li a span {
  line-height: 1rem;
  font-size: 0.6rem;
}

@media all and (min-width: 740px) {
  .header__container .header__menu ul li a span {
    font-size: 1rem;
  }
}

@media all and (min-width: 980px) {
  .header__container .header__menu ul li a span {
    font-size: 1.3rem;
  }
}

.header__container .header__menu ul li a:hover, .header__container .header__menu ul li a:focus {
  color: #eeff00;
}

.footer {
  text-align: center;
  color: #fff;
  background: #000;
}

.footer .footer__cooperation {
  background: #fff;
  color: #000;
  width: 90%;
  position: relative;
  top: -80px;
  left: 5%;
  padding: 5px;
  border-radius: 30px;
}

.footer .footer__cooperation:before {
  content: "";
  border-top: 1px solid black;
  width: 20%;
  height: 1px;
}

.footer .footer__textbox {
  position: relative;
  top: -50px;
}

.footer .social__iconsbox {
  position: relative;
  top: -25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footer .social__iconsbox a {
  padding: 0.7rem;
  margin: 0.5rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer .social__iconsbox a:hover {
  color: #000;
  background: #fff;
}

.footer .social__iconsbox a i {
  font-size: 2rem;
  transition: font-size 0.5s;
}

.footer .social__iconsbox a i:hover {
  font-size: 3rem;
}

.footer .copyrights {
  position: relative;
  bottom: 10px;
}
